{% load static %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id="player"></div>
    <ul>
    {% for song in songs %}
      <li>{{ song }}</li>
    {% endfor %}
    </ul>

    <input type="button" value="Prev" onclick="videoPlayer().prev()">
    <input type="button" value="Play" onclick="playList().playall()">
    <input type="button" value="Next" onclick="videoPlayer().next()">
  </body>
  <script>
     var songlist = {{ songs|safe }};
  </script>
  <script src="{% static 'js/videoplayer.js' %}"></script>
</html>