.success {
    display: block;
    color: #32CD32;
}

.error {
    display: block;
    color: #ff0000;
}

.active {
    background-color: #9FD1F7;
}

.nowplaying {
    display: none;
}

.active .nowplaying {
    display: block;
}

.bold {
    font-weight: bold;
}