{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">

        <div class = "col-md-3">
            <form method = 'POST'>
                {% csrf_token %}
                <input type = "text" name = "title" placeholder="playlist title">
                {{form.description}}
                <button type = "Submit">Create Playlist</button>
            </form>

            <ul>
                {% for playlist in playlists %}
                    <li>{{playlist.title}}
                       <small>
                       <a href = "{% url 'delete_playlist' playlist.id %}">Delete</a> 
                        </small>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class = "col-md-6">
        </div>

        <div class = "col-md-3">
        </div>

    </div>
</div>

{% endblock %}