{% extends 'base.html' %}

{% block content %}
<h5>Playlist {{ playlist.title }}</h5>

<form method="post" novalidate>
  {% csrf_token %}
  <label>Title:</label>
  {{ form.title }}
  {{ form.title.errors }}
  <br>
  <label>Link:</label>
  {{ form.link }}
  {{ form.link.errors }}
  <button type="submit">(+)</button>
</form>

<ul>
{% for song in songs %}
  <li>
  {{ song.title }}
  {% if request.user == song.user %}
  <small>
  <a href="{% url 'song_detail' playlist.id song.id %}">Edit</a>
  <a href="{% url 'song_delete' playlist.id song.id %}">Delete</a>
  </small>
  {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}