{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="col-sm-8">
    {% if not song_ids %}
      <div class="alert alert-info">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        Oops! This playlist does not have a video yet!
      </div>
    {% endif %}

    <!-- VIDEO PLAYER -->
    <div style="height:390;width:640;">
      <div id="player"></div>
    </div>
    <!-- VIDEO CONTROLS -->
    {% if request.user.is_superuser %}
    <div id="videocontroller" style="" class="btn-group" role="group">
      <input type="button" id="btn_prev" value="Prev" class="btn btn-default">
      <input type="button" id="btn_play" value="Play" class="btn btn-default">
      <input type="button" id="btn_pause" value="Pause" class="btn btn-default">
      <input type="button" id="btn_stop" value="Stop" class="btn btn-default">
      <input type="button" id="btn_next" value="Next" class="btn btn-default">
      <input type="button" id="btn_mute" value="Mute" class="btn btn-default">
      <input type="button" id="btn_unmute" value="UnMute" class="btn btn-default">
    </div>
    {% endif %}
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Playlist: {{ playlist.title }}</h3>
      </div>
      <div class="panel-body">
        <form method="post"  class="form-inline" action="{% url 'playlist' playlist.id %}" id="songForm" novalidate>
          {% csrf_token %}
          {{ form.link|attr:"placeholder:Link"|add_class:"form-control" }}
          <span style="display: inline;" class="error" id="validation_error"></span>
          <button type="submit" id="btn_add" class="btn btn-default">Add</button>
        </form>
      </div>
    </div>

    <!-- LIST OF SONGS WITH CONTROLS -->
    <ul class="list-group" id="songlist" >
    {% for song in songs %}
      <li id="song-state-{{ forloop.counter }}">
        <div class="media" id="{{song.id}}">
          <div class="media-left media-middle">
              <img class="media-object" src="{{song.thumb_url}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              {{ song.title }}
              <div id="player_state_{{forloop.counter}}" class="nowplaying">
                <small>(now playing)</small>
              </div>
            </h4>
            Duration: {{ song.duration }}
            <br>
            By: {{ song.user }}
            {% if request.user == song.user %}
            <br>
            <a href="{% url 'song_detail' playlist.id song.id %}">Edit</a>
            <form method="post" action="{% url 'song_delete' playlist.id song.id %}" class="deleteSong">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  
var song_ids = {{ song_ids|safe }};

</script>

{% endblock %}