{% extends 'playlist/base.html' %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class = "col-md-3">
        {{playlist.title}}<br>
        {{playlist.description}}<br>
        {{playlist.date_created}}<br>
        {{playlist.date_updated}}<br>
    </div>
    <div class = "col-md-3">
        <form method = "post" action ="{% url 'playlist_songdetail' playlist_id song.id %}">
            {% csrf_token %}
            <input type = "text" name = "title" value = "{{song.title}}"><br>
            <input type= "text" name = "link"value = "{{song.link}}">
            <button type = submit>Edit Song</button>
        </form>
    </div>

    </div>
</div>

{% endblock %}