{% extends 'base.html' %}
{% block content %}
<form method="POST" no validate>
	{% csrf_token %}
	<label>First name</label>
	<input type="text" name="first_name">
	<br>
	<label>Last name</label>
	<input type="text" name="last_name">
	<br>
	<label>Email</label>
	<input type="email" name="email">
	{{form.email.errors}}
	<br>
	<label>Password</label>
	<input type="password" name="password">
	<br>
	<label>Confirm Password</label>
	<input type="password" name="confirm_password">
	{{form.confirm_password.errors}}
	<br>
	<button type="submit">Register</button>
</form>
{% endblock %}