{% extends 'base.html' %}
{% block content %}
<form method="POST" no validate>
	{% csrf_token %}
	<label>Email</label>
    {% if form.email.value is None %}
      <input type="email" name="email">
    {% else %}
      <input type="email" name="email" value="{{form.email.value}}">
    {% endif %}
	{{form.email.errors}}
	<br>
	<label>Password</label>
	<input type="password" name="password">
    {{form.password.errors}}
	<br>
	<label>Confirm Password</label>
	<input type="password" name="confirm_password">
	{{form.confirm_password.errors}}
	<br>
	<button type="submit">Register</button>
</form>
{% endblock %}