{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="col-md-4">
</div>
<div class="col-md-4 panel panel-default">
    <div class="panel-body"></div>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.old_password|attr:"placeholder:Old Password"|add_class:"form-control" }}
                {{ form.old_password.errors}}
            </div>
            <div class="form-group">
                {{ form.new_password|attr:"placeholder:New Password"|add_class:"form-control" }}
                {{ form.new_password.errors }}
            </div>
            <div class="form-group">
                {{ form.confirm_password|attr:"placeholder:Confirm New Password"|add_class:"form-control" }}
                {{ form.confirm_password.errors }}
            </div>
            <div class="form-group pull-right">
                <input type="submit" class="btn btn-default" value="Submit">
            </div>
        </form>
    </div>
</div>
<div class="col-md-4">
</div>

{% endblock %}
